*{margin: 0px auto;
 text-align: center;}

body{background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em}

#cabecera{background-color: #ccffff;
            min-height: 65px;}

#navegacion{background-color: #ffff99;
            width: 100%;
            min-height: 65px;}

#menu{background-color: #e2ffde;
    min-height: 150px;
    width: 20%;
    border: 2px solid black;
    margin: 2%;
    float: left;
    background-image: url("objetos/trabajar-el-mármol.jpg");}

#contenidos{background-color: #ffffff;
            width: 75%;
            float: left;}

#pie{background-color: #ffd08f;
    clear:both;
    min-height: 60px;}

h1{font-size: 2em;
    font-family: "Bookman old style";
    font-style: italic;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin: 0px;}

h3{font-size: 1.2em;
    font-family: "Bookman old style";
    font-style: italic;
    text-align: center;
    padding: 15px 0px 10px 0px;
    margin: 0px;}

h6{font-size: 0.9em;}

#cabecera img{float:left;
            width: 100px;
            height: 100px;
            margin-left: 30px;}

#recuadro{float: right;
        width: 200px;
        background-color: #993399;
        color: #99ff00;
        padding: 10px;
        margin-right: 75px;
        margin-top: 15px;}

#navegacion ul li{display: inline;
                float: left;
                width:200px;
                border: 1px solid #ffcc99;
                margin: 3px;}

#navegacion ul{clear:both;}

#navegacion a{font-size: 0.8em;
            font-weight: bold;
            text-align: left;
            text-decoration: none;
            padding: 0.2em 1em;
            display: block;}

#navegacion a:link{color: #333333;
                background-color: #ffff99;}

#navegacion a:visited{color: #333333;
                 background-color: #ffff99;}

#navegacion a:hover{color: #990099;
                 background-color: #ffffcc;}

#navegacion a:active{color: #990099;
                    background-color: #ffffcc;}

.situacion{background-color: #ccffff;
        font-size: 0.8em;
        font-weight: bold;
        padding: 0.1em 0em;}

#menu h4{margin: 0px;
        padding: 0.5em 1em;
        font-size: 1.1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: left;}

#menu ul{width: 100%;
        list-style: none;
        margin:0px;
        padding: 0px;}

#menu a{padding: 0.3em 1em;
        display: block;
        text-align: left;
        font-weight: bold;}

#menu a:link{color: #330099;
            text-decoration: none;}

#menu a:visited{color: #330099;
            text-decoration: none;}

#menu a:hover{color: #000099;
            background-color: #dcdcdc;
            text-decoration: underline;}

#menu a:active{color: #000099;
                background-color: #dcdcdc;
                text-decoration: underline;}

.construccion{width: 400px;
            height: 300px;}

#contenidos h1{font-size: 1.7em;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: normal;
            color:navy;
            padding: 1em;}

#contenidos h2{font-size: 1.4em;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        padding: 1em;}

#contenidos h4{font-size: 1.1em;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        padding: 0,5em 3em;}

#contenidos p{text-align: justify;
        padding: 0.5em 3em;
        text-indent: 3em;}