h1{text-align: center;
    font-size: 2.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: violet;}

h2{text-align: center;
    font-size: 1.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;}

p{text-align: justify;
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    padding-left: 3em;
    padding-right: 3em ;
    padding-top: 0.5em;
    text-indent: 2.5em;}

.casita{float: right;
    margin-left: 2em;
    margin-right: 3em;
    margin-bottom: 1em;}

body{background-color: bisque;}